html{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: #f4fcff;
    background-image:  linear-gradient(-25deg, #2e7fa2 0%, #c24d42 100%);
    background-size: cover;
}

body{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
    margin: 10px auto 10px auto;
    color: #edf7fa;
}

p{
    margin: 0;
}

#study{
  position: relative;
  padding: 10px;
  margin: 10px;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border:2px solid #edf7fa;
  border-radius: 15px;
  background: none;
  color:#edf7fa
}

#break{
  position: relative;
  padding: 10px;
  margin: 10px;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border:2px solid #edf7fa;
  border-radius: 15px;
  background: none;
  color:#edf7fa
}

#study:hover{
  transition: 0.5s;
  color: rgb(31, 31, 31) !important;
  background-color: #edf7fa !important;
}

#break:hover{
  transition: 0.5s;
  color: rgb(31, 31, 31) !important;
  background-color: #edf7fa !important;
}

.app-container{
    width: 250px;
    height: 420px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding:20px;
}

.app-circle{
    position: relative;
    margin: 0 auto;
    border: solid 6px;
    border-color: #df6448;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.circle-shape{
    pointer-events: none
}

  .app-counter-box{
    font-family: 'Droid Sans Mono', monospace;
    font-size: 250%;
    position: relative;
    top: 68px;
    color: #edf7fa;
  }

  .btn-start{
    position: relative;
    top: 25px;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    color:#edf7fa
  }

  button:hover{
    color: #aaadbc;
  }

  .reset{
    display:none;
    position: relative;
    top: 25px;
    font-size: 100%;
    letter-spacing: 1px;
    border: none;
    background: none;
    color:#edf7fa
  }